# 编译产物
server/main
server/server
server/server_test
server/*.exe

# 日志
log/
server/*.log

# 数据库
server/*.db

# 依赖
client/node_modules/
client/dist/
client/src-tauri/target/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# 构建
*.o
*.a
*.so

# 文档
*.md
!README.md
